@font-face {
    font-family: 'Optima';
    src: url('fuentes/optima/Optima\ Medium.ttf');
}
header{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 3rem;
}
header ul{
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    flex-wrap: wrap;
}
header nav a{
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
}
header.bg-black{
  color: #524099c5;
}
header nav{
    width: 100%;
    display: flex;
    justify-content: center;
}
.logo-menu{
    width: 100%;
}
.abrir-menu{
    position: absolute;
    top: 2%;
    left: 2%;
    font-size: 1.5rem;
    z-index: 1000;
}
h1,h2{
    font-family: 'Lato', sans-serif;
}
.juego img{
    max-width: 100%;
    border-radius: 8px;
    filter: drop-shadow(1px -1px 6px #000);
}
.juego img:hover{
    transform: scale(1.05);
}
.juego{
    font-family: 'Optima';
    font-weight: bolder;
}
.plataforma{
    width: 80%;
    margin: auto;
    border: 2px solid #795fe3;
    border-radius: 20px;
    padding: 1rem;
    -webkit-box-shadow: 1px 1px 26px -5px #795fe3;
    -moz-box-shadow: 1px 1px 26px -5px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 26px -5px #795fe3;
}
.ultimos-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
}
/* .juego{
    align-self: center;
} */
.carousel{
    width: 50%;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(51, 49, 49, 0.616);
}
.carousel img{
    max-width: 100%;
    border-radius: 8px;
}
.carousel span.carousel-control-prev-icon, span.carousel-control-next-icon{
    background-color: black;
}
.carousel-caption{
    background-color: rgba(51, 49, 49, 0.616);
}
.contenedor-seccion-juegos{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
/* .contenedor-seccion-juegos .plataforma{
    display: flex;
    flex-direction: column;
    
}
.contenedor-seccion-juegos .plataforma .contenedor-flex{
    display: flex;
} */
.contenedor-seccion-juegos .juego img{
    max-width: 100%;
}
#seccion-plataformas .plat img{
    width: 50%;
}
#seccion-plataformas .contenedor-seccion-plataformas{
    margin: auto;
}
#seccion-plataformas .contenedor-seccion-plataformas input{
    font-size: 1.3rem;
    padding: 0.6rem;
    z-index: 100;
}
#ver-mas .juego-info img{
    border-radius: 8px;
    filter: drop-shadow(1px -1px 6px #000);
}
#seccion-plataformas img{
    filter: drop-shadow(1px -1px 6px #000);
}
#seccion-plataformas h1{
    font-size: 3rem;
}
#seccion-plataformas .contenedor-seccion-plataformas div:nth-child(1n){
    border-bottom: 3px solid black;
    border-right: 3px solid black;
}
#seccion-plataformas .contenedor-seccion-plataformas div:nth-child(1n):last-child{
    border-bottom: none;
}
#seccion-plataformas .contenedor-seccion-plataformas div:nth-child(2n){
    border-bottom: 3px solid black;
    border-right: none;
}
#seccion-plataformas .contenedor-seccion-plataformas div:nth-child(3n):not(nth:child(even)){
    border-right: 3px solid black;

}
#ver-plataforma .contenedor-ver-plataforma img{
    border-radius: 8px;
    filter: drop-shadow(1px -1px 6px #000);
}
#seccion-comentarios-admin .container-xl{
    gap: 2rem;
}
#seccion-comentarios-admin .card{
    filter: drop-shadow(1px -1px 4px #000);
}

#ver-mas .comentarios input[type="text"]{
    width: 90%;
}
 table{
    border-collapse: collapse;
    font-weight: bold;
}
.table-wrapper{
    overflow-x: auto;
}
table img{
    border-radius: 8px;
}
 table td{
    padding: 1rem;
    border-bottom: 2px solid;
    border-right: 2px solid;
}

 table td:last-of-type{
    border-bottom: 2px solid;
    border-right: none;
}
 table tr:nth-child(2n){
    background-color:#795fe35d;
}
.enlaces-insertar{
    text-decoration: none;
    color: black;
    background-color: #795fe385;
    padding: 0.5rem;
    border-radius: 8px;
    width: 20%;
}
.forms-busqueda input[type="submit"]{
    background-color: #795fe385;
    border-radius: 8px;
    border: none;
    padding: 0.3rem;
}
.ver-mas{
    background-color: #795fe3d0;
    border-radius: 8px;
    border: none;
    padding: 0.3rem;
    font-size: 1.2rem;
    width: 70%;
}
.forms-ver-mas-plataformas input[type="submit"]{
    width: 80%;
    background-color: #795fe3d0;
    border-radius: 8px;
    border: none;
    color: white;
}
.forms-ver-mas-plataformas{
   width: 50%;
}
.enviar-comentario{
    background-color: #795fe3d0;
}
.comentario-box{
    border: 2px solid #795fe3;
    border-radius: 20px;
    -webkit-box-shadow: 1px 1px 26px -5px #795fe3;
    -moz-box-shadow: 1px 1px 26px -5px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 26px -5px #795fe3;
}
.forms-volver{
    display: flex;
}
.forms-volver input[type="submit"],a.forms-volver{
    z-index: 999;
    background-color: #795fe3d0;
    border-radius: 8px;
    border: none;
    width: 10%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    place-content: center;
}
/* #seccion-juegos-admin table img{
    max-width: 100%;
} */
/* #seccion-juegos-admin table td:nth-of-type(5){
    width: 50%;
    padding: 0.3rem;
} */
/* table td:empty{
    background-color: #9e9e9eb0;
} */
@media screen and (min-width: 1000px){
    .abrir-menu{
        display: none;
    }
}
@media screen and (max-width: 1000px){
    header{
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 100;
        left: -1200px;
        height: auto;
        transition: .8s;
        height: 70vh;
    }
    .mostrar-menu{
        left: 0;
        transition: .8s;
    }
    .fijar-mostrar-menu{
        position: fixed;
    }
    header nav ul{
        flex-direction: column;
        align-items: center;
        height: 70vh;
    }
}