@font-face {
    font-family: 'Optima';
    src: url('fuentes/optima/Optima\ Medium.ttf');
}
header{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 3rem;
}
header ul{
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}
header nav a{
    text-decoration: none;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
}
header.bg-black{
  color: #524099c5;


}
header nav{
    width: 80%;
    display: flex;
    justify-content: center;
}
.logo-menu{
    width: 100%;
}
h1,h2{
    font-family: 'Lato', sans-serif;
}
.juego img{
    max-width: 100%;
    border-radius: 8px;
    filter: drop-shadow(1px -1px 6px #000);
}
.juego img:hover{
    transform: scale(1.05);
}
.juego{
    font-family: 'Optima';
    font-weight: bolder;
}
.plataforma{
    width: 80%;
    margin: auto;
    border: 2px solid #795fe3;
    border-radius: 20px;
    padding: 1rem;
    -webkit-box-shadow: 1px 1px 26px -5px #795fe3;
    -moz-box-shadow: 1px 1px 26px -5px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 26px -5px #795fe3;
}
.ultimos-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    
}
/* .juego{
    align-self: center;
} */
.carousel{
    width: 50%;
    margin: auto;
    border-radius: 10px;
    background-color: rgba(51, 49, 49, 0.616);
}
.carousel img{
    max-width: 100%;
    border-radius: 8px;
}
.carousel span.carousel-control-prev-icon, span.carousel-control-next-icon{
    background-color: black;
}
.carousel-caption{
    background-color: rgba(51, 49, 49, 0.616);
}
.contenedor-seccion-juegos{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
/* .contenedor-seccion-juegos .plataforma{
    display: flex;
    flex-direction: column;
    
}
.contenedor-seccion-juegos .plataforma .contenedor-flex{
    display: flex;
} */
.contenedor-seccion-juegos .juego img{
    max-width: 100%;
}
#seccion-plataformas .plat img{
    width: 50%;
}
#seccion-plataformas .contenedor-seccion-plataformas{
    margin: auto;
}